<!DOCTYPE html>
<html lang="en">
<head></head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    {% block head %}
        <title>alcodo</title>
        {% if title %}
            <title>alcodo|{{ title }}</title>        
        {% endif %}
    {% endblock %}
</head>
<body>
    <div class="row content h-100">
        <div class="header col-md-2 hidden-md-down">
            <header>
                <div class="logo">
                    ALCODO
                    <hr>
                </div>
                <ul>
                    <div class="user" id="user">
                        {% if user %}
                            <div class="user_info row">
                                <div class="avatar col-4">
                                    <img src="{% static 'images/anonymous-user.png' %}" alt="">
                                </div>                            
                                
                                <div class="text col-8">
                                    <li><strong>{{ user }}</strong></li>
                                    <li>Популярность:</li>
                                    <li><a href="">Настройки</a></li>
                                    <li><a href="{% url 'logout' %}">Выйти</a></li>
                                </div>
                                
                            </div>
                            
                            
                            
                        {% else %}
                            <!-- <li><a href="">LogIn</a></li> -->
                                <div class="login_services">
                                    <div class="vk_logo">
                                        <a href="{% url "social:begin" "vk-oauth2" %}">
                                            <img src="{% static 'images/vk-logo.png'%}" alt="">
                                        </a>
                                    </div>    
                                </div>    
                            
                        {% endif %}
                        <hr>
                    </div>
                              
                    <li><a href="/">Собутыльники</a></li>
                    <li><a href="/">Сообщения</a></li>
                    <li><a href="/">Пригласили</a></li>
                    <li><a href="/">Кореша</a></li>
                    <li><a href="/">Посетили</a></li>
                    
                </ul>
            </header>    
        </div>
        <div class="content col-md-9">
            {% for p in profiles %}
                {{ p.city }}
            {% endfor %}
        </div>
    </div>
    
</body>
</html>