<!DOCTYPE html>
<html lang="en">
<head></head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    {% block head %}
        <title>alcodo</title>
        {% if title %}
            <title>alcodo|{{ title }}</title>        
        {% endif %}
    {% endblock %}
</head>
<body>
    <div class="row content h-100">
        <div class="header col-md-2 hidden-md-down">
            <header>
                <div class="logo">
                    ALCODO
                    <hr>
                </div>
                <ul>
                    <div class="user" id="user">
                        {% if user %}
                            {% for ass in backends.associated %}
                                {{ ass.extra_data }}
                            {% endfor %}
                            <img src="https://api.vk.com/method/users.get?user_id={{ user.extra_data.id }}&fields=photo_200&access_token={{ user.extra_data.access_token }}&v=5.103" alt="">

                            <!-- <script>
                                 $.ajax({
                                    url: 'api.vk.com/method/users.get?user_id={{ user.extra_data.id }}&fields=photo_200&access_token={{ user.extra_data.access_token }}&v=5.103',
                                    dataType: 'json',
                                    // elem.src = data.photo_200
                                    success: function(data) {
                                        alert(JSON.stringify(data));
                                    },
                                    error: function() {
                                        alert('error');
                                    }
                                });
                                
                                // document.getElementById("user").appendChild(elem);
                                // elem.src = data.photo_200

                            </script> -->

                            <li><strong>{{ user }}</strong></li>
                            <li><a href="">Setting</a></li>
                            <li><a href="{% url 'logout' %}">LogOut</a></li>
                        {% else %}
                            <!-- <li><a href="">LogIn</a></li> -->
                                <div class="login_services">
                                    <div class="vk_logo">
                                        <a href="{% url "social:begin" "vk-oauth2" %}">
                                            <img src="{% static 'images/vk-logo.png'%}" alt="">
                                        </a>
                                    </div>    
                                </div>    
                            
                        {% endif %}
                        <hr>
                    </div>
                              
                    <li><a href="/">Собутыльники</a></li>
                    <li><a href="/">Сообщения</a></li>
                    <li><a href="/">Пригласили</a></li>
                    <li><a href="/">Кореша</a></li>
                    <li><a href="/">Посетили</a></li>
                    
                </ul>
            </header>    
        </div>
        <div class="content col-md-9">
            тут контент
        </div>
    </div>
    
</body>
</html>